@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url('../img/aurora-1197753_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover{
    color: orange;
}

/* Header */


header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.links{
    display: flex;
    gap: 2em;
}

.navbar .toggle-btn{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    display: none;
}

.fa-solid.fa-bars{
    transform: rotate(0deg);
    transition: transform .2s;
}

.fa-solid.fa-xmark{
    transform: rotate(90deg);
    transition: transform .2s;
}

.action-btn{
    background-color: orange;
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action-btn:hover{
    scale: 1.05;
    color: white;
}

.action-btn:active{
    scale: 0.95;
}

/* DROPDOWN MENU */

.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 100%;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 220px;
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* HERO SECTION */

section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

#hero h1{
    font-size: 3rem;
    margin-bottom: 1em;
}



/* RESPONSIVE DESIGN */

@media (max-width: 991px) {
    .navbar .links,
    .navbar .action-btn{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}



